body {
  font-family: sans-serif;
}

.outer {
  width: 100%;
  height: 50vh;
  overflow: auto;
  outline: 1px solid #000;
  position: relative;
  -ms-touch-action: pan-x pan-y pinch-zoom;
  touch-action: pan-x pan-y pinch-zoom;
}

.board {
  position: relative;

  &.loading {
    opacity: .5;
  }
}

button {
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}
