.ship {
  position: absolute;
  border: 1px solid red;
  border-radius: 50%;
}
.ship__owner {
  color: rgba(0, 0, 0, 0.6);
  font-size: 8px;
  text-align: center;
}
.ship--user {
  border: 1px solid green;
}
.ship--colliding {
  background: yellow;
}
.ship--selected {
  background: green;
}
.ship--selected .ship__owner {
  color: #222;
}
